<div class="container">
    <h2 style="font-size: 1.2rem;width: 75%;margin: auto;text-align: center;">Ninja<sup>TM</sup> Professional Blender with Single Serve Blending Cups</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" *ngFor="let img of catalogEntryView?.Images[0]?.PrimaryImage; let i = index">
        <li data-target="#myCarousel" [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active' : ''"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" *ngFor="let imageObj of catalogEntryView?.Images[0]?.PrimaryImage; let k = index">
  
        <div [ngClass]="k == 0 ? 'item active' : 'item'">
          <img src="{{imageObj?.image}}" style="width: 50%;margin-left: 25%;">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>